@import '../../../assets/styles/variables.scss';

img {
  border: 5px solid whitesmoke;
  border-radius: 4px;
}

.character-detail-container {
  background-color: $cust-background-modal;
}

.character-detail-card {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: $cust-primary;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: $text;
}

.sub-title {
  color: $text;
}


.content {
  background-color: $cust-background-modal;
  border-radius: 4px;
  width: auto;
  height: auto;
  margin: 20px;
}

@media (max-width: 600px) {
  .character-detail-card {
    max-width: 100%;
  }
}

.back-button {
  background: none;
  border: none;
  color: $text;
  display: flex;
}
