@if(character$ | async; as character) {

<div
  fxLayout="column"
  fxLayoutAlign="center stretch"
  class="character-detail-container m-2 p-4"
>
<button
  mat-icon-button
  (click)="back()"
  class="back-button mb-3"
>
  <mat-icon>arrow_back</mat-icon>
</button>

  <mat-card class="character-detail-card">
    <mat-card-header class="header justify-content-center">
        <mat-card-title class="title">{{ character.name }}</mat-card-title>
        <mat-card-subtitle class="sub-title d-flex justify-content-center"
          >{{ character.status }} - {{ character.species }}</mat-card-subtitle
        >
      </mat-card-header>
    <mat-card-content>
      <div class="image-container d-flex justify-content-center">
        <img class="image" [src]="character.image" alt="{{ character.name }}" />
      </div>
    </mat-card-content>
    <mat-card-content class="content p-3">
      <p><strong>Gender:</strong> {{ character.gender }}</p>
      <p><strong>Origin:</strong> {{ character.origin.name }}</p>
      <p><strong>Location:</strong> {{ character.location.name }}</p>
      <p><strong>Number of Episodes:</strong> {{ character.episode.length }}</p>
    </mat-card-content>
  </mat-card>
</div>

}
