
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <!-- <app-character-filter-input (filterChange)="applyFilter($event)"></app-character-filter-input> -->
  <mat-card>
    <mat-card-title>Character List</mat-card-title>
    <mat-card-content>

        <app-custom-table
                          [datasource]="dataSource"
                          [displayedColumns]="displayedColumns"
                          [imageAlt]="'picture'"
                          routerLinkData="/character"
        ></app-custom-table>

    </mat-card-content>
    <div #bottomAnchor></div>
  </mat-card>
</div>
