.character-card {
  background-color: #2c2c2c; // Fondo gris oscuro
  color: #fff; // Texto blanco
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  mat-card-title {
    color: #fff; // Asegurar que el título sea blanco
  }

  .table-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3c3c3c; // Fondo ligeramente más claro para los filtros
    border-radius: 5px;

    .header {
      flex: 1 1 100%;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .search-bar {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;

      mat-form-field {
        flex: 1 1 30%;
        min-width: 150px;

        .mat-form-field-flex {
          background-color: #fff; // Fondo blanco para los campos de entrada
          color: #000; // Texto negro
        }

        .mat-form-field-label {
          color: #000; // Etiquetas negras
        }

        mat-select {
          color: #000; // Texto negro en el select
        }

        mat-option {
          color: #000; // Opciones negras
        }
      }

      button {
        align-self: center;
        height: 36px;
        padding: 0 16px;
        color: #fff; // Texto blanco en el botón
      }
    }
  }
}

// Ajuste responsivo
@media (max-width: 768px) {
  .table-header {
    flex-direction: column;
    align-items: stretch;

    .search-bar {
      flex-direction: column;

      mat-form-field,
      button {
        width: 100%;
      }
    }
  }
}
