<!-- <div class="search-bar">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="filterValues.name" (ngModelChange)="applyFilter()">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Status" [(ngModel)]="filterValues.status" (selectionChange)="applyFilter()">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Species" [(ngModel)]="filterValues.species" (selectionChange)="applyFilter()">
      <mat-option *ngFor="let species of speciesList" [value]="species">{{ species }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="clearFilter()">Clear Filters</button>
</div> -->
