@import '../../../assets/styles/variables.scss';

mat-header-row {
  background-color: $cust-primary;
  color: $text;
  font-size: 1.3rem;
}

img {
  height: 50px;
  width: 50px;

  @media (max-width: 600px) {
    height: 30px;
    width: 30px;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    height: 40px;
    width: 40px;
  }

  @media (min-width: 1025px) {
    height: 150px;
    width: 150px;
  }
}

mat-row {
  background-color: $cust-secondary;
  color: $text;
  font-size: 1.1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


