  <div class="container">
    <mat-table
              matSort
              [dataSource]="datasource"
              class="mat-elevation-z8"
              (matSortChange)="sortData($event)"
    >
@for(column of displayedColumns; track column;) {
  <ng-container [matColumnDef]="column">
    <mat-header-cell class="justify-content-center" *matHeaderCellDef mat-sort-header>
      {{ column | titlecase }}
    </mat-header-cell>
  <mat-cell class="justify-content-center" *matCellDef="let value">
    @switch(column){
       @case ('image') {
      <a [routerLink]="[routerLinkData, value['id']]">
        <img [src]="value[column]" alt="{{ imageAlt }}" />
      </a>
    }
    @case ('link') {
      <a [routerLink]="[routerLinkData, value['id']]">
        <mat-icon>open_in_new</mat-icon>
      </a>
    }
    @default {
      {{ value[column] }}
    } }
  </mat-cell>
</ng-container>
}

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
</div>

