@import '../../../assets/styles/variables.scss';

.navbar {
  background-color: $cust-primary;
  .navbar-brand .logo {
    height: 40px;
  }
  .navbar-nav .nav-link {
    color: white !important;
  }
  .active {
    font-weight: bold;
  }
}

