.nav-toolbar {
  background-color: #5932EA;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .fill-space {
    flex: 1 1 auto;
  }

  .logo {
    height: 40px;
  }
}

// Ajuste responsivo si es necesario
@media (max-width: 768px) {
  .nav-toolbar {
    flex-direction: column;

    a {
      margin: 10px 0;
    }
  }
}
