/* You can add global styles to this file, and also import other style files */

@import './assets/styles/variables.scss';

/*CUSTOMIZE BOOTSTRAP*/
$primary:$cust-primary;
$secondary:$cust-secondary;

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* GENERAL */

html {
  font-size: $main-size;
}
body {
  width: 100%;
  height: auto;
  font-family: $primary-font-family;
  font-size: $body-font-size;
  background-color: $cust-background;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  color: $text;
}

a {
  font-size: 18px;
  color: $text;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 0;

  &:hover {
    color: $text-hover;
  }

  &.active {
    color: $active;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: white;
}

