/* COLORS */
$cust-primary: #5932EA;
$cust-secondary: #BEB7FB;
$text: white;
$text-hover: rgb(163, 65, 216);
$active: $cust-secondary;
$cust-background: #121829;
$cust-background-modal: #20283E;

/* FONTS */
$main-size: 16px;
$primary-font-family: Roboto, Helvetica, san-serif;
$body-font-size: 1.5rem;


